body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #121212;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}


header {
    background: #1a1a1a;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.btn {
    background: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #181818;
}
.hero h2 {
    font-size: 2em;
}
.hero span {
    color: orange;
}

#portfolio, #services, #testimonials, #blog, #contact {
    padding: 50px 0;
    text-align: center;
}
.portfolio-grid, .service-grid, .blog-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.portfolio-item, .service-item, .blog-item {
    background: #222;
    padding: 20px;
    width: 200px;
    text-align: center;
}